<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.隐私评估安卓开发">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="隐私评估安卓开发"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XiangceDemo"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name="com.example.隐私评估安卓开发.register"
            android:exported="false" />
        <activity
            android:name="com.example.隐私评估安卓开发.login"
            android:exported="true" />
        <activity
            android:name="com.example.隐私评估安卓开发.personalSetting"
            android:exported="false"
            android:parentActivityName="com.example.隐私评估安卓开发.MainActivity" />
        <activity
            android:name="com.example.隐私评估安卓开发.jsonShowOffTest"
            android:exported="false"
            android:label="测试界面"
            android:parentActivityName="com.example.隐私评估安卓开发.MainActivity" />
        <activity
            android:name="com.example.隐私评估安卓开发.MainActivity"
            android:exported="true" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.隐私评估安卓开发.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
        </provider>

    </application>

</manifest>